version: '3.9'

services:
  express:
    build:
      context: .
    restart: always
    ports:
      - "4000:4000"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_DB_NAME=${MONGO_DB_NAME}
      - MONGO_HOST=${MONGO_HOST}
      - BUCKET_NAME=${BUCKET_NAME}
      - REGION=${REGION}
    depends_on:
      - mongo
  mongo:
    image: mongo:6.0.7
    restart: always
    user: root
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "27017:27017"

volumes:
  mongo-data:

networks:
  default:
    external:
      name: mynetwork
